<?xml version="1.0"?>
<model>
  <name>warthog_description</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Clearpath Robotics</name>
    <email>info@clearpathrobotics.com</email>
  </author>

  <description>
    Warthog robot description package with meshes
  </description>
</model>
